.close{
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  padding: 0 15px;
}
.content {
  height: 100%;
}
.content .title {
  display: flex;
  align-items: center;
  height: 55px;
  padding-left: 10px;
  background-color: rgba(18, 70, 137, 0.6);
}
.content .title .text {
  color: #00bfff;
  font-size: 24px;
  font-weight: 500;
}
